/** General classes **/

body {
	font-family: sans-serif;

}

h1,h2,h3 {
	font-family: 'Ubuntu', 'Gudea', sans-serif;
}

.text-yellow {
  color: #FFEB3B;
}

.text-white {
	color: #fafafa;
}

.text-dark {
	color: #212121;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justifyt-around {
	justify-content: space-around;
}

.items-center {
	align-items: center;
}

.self-end {
	align-self: flex-end;
}

.h-full {
  height: 100vh;
}

.w-full {
	width: 100vw;
}

.w-50 {
	width: 50vw;
}

.hero-header {
background-color: #000000;
background-image: url('../theteam.webp');
background-size: cover;
	position: relative;
}

.overlay {
 background-color: rgba(0,0,0,0.7);
 position: absolute;
 top: 0;
 left: 0;
}

/* diag */

.diagonal {
  position: absolute;
  right: 0;
  background: transparent;
  height: 100vh;
  width: 50vw;
  background-image: url('../theteam.webp');
  background-position: 40%;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(74% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(74% 0, 100% 0, 100% 100%, 0% 100%);
}

/* header */

.div-content {
	width: 100%;
}

.h1 {
  font-size: 3.1rem;
  letter-spacing: 1px;
  margin: 0;
  text-align: start;
  display: inline;
  margin-bottom: 10px;
}

.h2 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: start;
}

.h2 > span {
	margin-left: 3px
}

.header-text {
	width: 40%;
	margin-left: 2%;
	padding: 15px;
}

.p {
	letter-spacing: 1px;
	width: 70%;
	font-size: 20px;
	text-align: center;
}

.button {
	border-style: solid;
	border-width: thin;
	background-color: transparent;
	width: 180px;
	height: 45px;
	color: #FAFAFA;
	margin: 5px;
	cursor: pointer;
	font-weight: 500;
}

.button-yellow {
	border-color: #ffdb19;
	background-color: #ffdb19;
	color: #212121;
	
	
}

.button-yellow:hover {
	background-color: transparent;
	color: #fafafa;
}

.button-transparent {
  border-color: #FFEB3B;
}
.button-transparent:hover {
	background-color: #ffdb19;
	color: #212121;
}